header{
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
}

.header__container{
    height: 100%;
    text-align: center;
    position: relative;
    /* background: #000; */
}
.header__container__container{
    display: flex;
}


/* ====================cta====================== */
.cta{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}



/* ====================header_social====================== */
.header__social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    bottom: 22%;
}

.header__social::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me{
    background: url(../../assets/mypic_background.jpg);
    width: 20rem;
    height: 20rem;
    position: absolute;
    left: calc(50% - 10rem);
    margin-top: 6rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}


/* =================scroll down =======================*/

.scroll__down{
    position: absolute;
    right: -2.3rem ;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 600;
    font-size: 0.9rem;
    bottom: 27%;
}






 /* ================ Media  Queries(medium devices ====================== */
 @media screen and (max-width:1070px) {
    .scroll__down{
        bottom: 30%;
        
    }
    .header__social{
        bottom: 22%;
    }

    .cta{
        /* margin-top: 60px; */
    }
 }

/* ================ Media  Queries(small devices ====================== */
@media screen and (max-width:900px){
    header{
        /* height: 100vh; */
        /* padding-top: 5rem; */  
    }
       
     
}


@media screen and (max-width:600px){
    header{
        /* height: 68vh; */
        /* padding-top: 5rem; */
    }
       
     
}
@media screen and (max-width:600px){
    header{
    
    }
       
     
}


 @media screen and (max-width:480px){
   header{
    /* height: 82vh; */
    /* padding-top: 5rem; */
   }

    h1{
        font-size: 2rem;
      }
      .header__social,.scroll__down{
        display: none;
      }
   
}
   
   @media screen and (max-width:413px){
    header{
     /* height: 74vh;s */
     /* padding-top: 5rem; */
    }
   
     
}
@media screen and (max-width:393px){
    header{
     /* height: 94vh; */
     /* padding-top: 200px; */
    }
   
     
}
  
 

 @media screen and (max-width:380px){
    header{
        /* height: 85vh; */
        /* padding-top: 5rem; */
       }
 
}

@media screen and (max-width:380px){
    header{
        /* height: 100vh; */
        /* padding-top: 5rem; */
       }
}


@media screen and (max-width:321px){
    header{
        margin-bottom: 4rem;
       }
       h1{
       font-size:  1.5rem;
       }
       .me{

       }
}



 
 
  
